{% extends "base.html" %}
{% block title %}Title{% endblock %}

{% block content %}

      <div class="container" style="padding-top: 10px;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    
            {% for single_news in all_news %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ single_news.image.url }}" class="card-img-top" alt="{{ single_news.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ single_news.headline }}</h5>
                        <p class="card-text">Rating: {{ single_news.rating }} out of 4</p>
                        <p class="card-text">Category: {{ single_news.categroy }}</p>
                        <p class="card-text">views: {{ single_news.viwes_of_this }}</p>
                        <p class="card-text">{{ single_news.created_at }}</p>
                        <p class="card-text">{{ single_news.short_descriptions }}</p>

                        <!-- Adding the Rating button -->
                        <a href="{% url 'rate_a_news' single_news.id %}">
                            <button class="btn btn-primary">Give Rating</button>
                        </a>
                        <!-- Adding the Details button -->
                        <a href="{% url 'ditials_view' single_news.id %}">
                            <button class="btn btn-secondary">Details</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
             
        </div>
    </div>

{% endblock %}